{% load widget_tweaks %}
{% if campo.field.widget.input_type == 'checkbox' %}
<div class="campo marcavel">
  {% render_field campo %}
  <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
  {% for erro in campo.errors %}<p class="erro">{{ erro }}</p>{% endfor %}
</div>
{% else %}
<div class="campo">
  {% if campo.label %}<label for="{{ campo.id_for_label }}">{{ campo.label }}{% if campo.field.required %} *{% endif %}</label>{% endif %}
  {% render_field campo %}
  {% if campo.help_text %}<p class="ajuda">{{ campo.help_text }}</p>{% endif %}
  {% for erro in campo.errors %}<p class="erro">{{ erro }}</p>{% endfor %}
</div>
{% endif %}
