{% extends "base.html" %}
{% block titulo %}Alterar senha{% endblock %}
{% block conteudo %}
<div class="cabecalho"><div><div class="sobretitulo">Conta</div><h1>Alterar senha</h1></div></div>
<div class="cartao"><div class="cartao-corpo">
  <form method="post">
    {% csrf_token %}
    <div class="campos" style="grid-template-columns:1fr;max-width:420px">
      {% for campo in form %}{% include "partials/campo.html" with campo=campo %}{% endfor %}
    </div>
    <div class="form-acoes"><button class="btn btn-primario" type="submit">Salvar</button></div>
  </form>
</div></div>
{% endblock %}
